<main>
 <h1> Hello Anuta!</h1>
 <h2> Hello Anuta!</h2>
 <h3> Hello Anuta!</h3>
 <h4> Hello Anuta!</h4>
 <h5> Hello Anuta!</h5>
 <h6> Hello Anuta!</h6>

 <hr>

 <div class="display-1 text-muted"> Hello Anuta!</div>
 <div class="display-2 text-muted"> Hello Anuta!</div>
 <div class="display-3 text-muted"> Hello Anuta!</div>
 <div class="display-4 text-muted"> Hello Anuta!</div>
 <div class="display-5 text-muted"> Hello Anuta!</div>
 <div class="display-6 text-muted"> Hello Anuta!</div>

 <hr>
 <div class="text-muted text-end">
    You are the best, Anuta
 </div>

 <hr>

  <h1 class="text-center"> Hello Anuta!</h1>
  <h1 class="text-end"> Hello Anuta!</h1>

 <hr>

 <h1 class="text-center text-uppercase"> Hello Anuta!</h1>
 
 <hr>

 <h1 class="text-end text-lowercase"> Hello Anuta!</h1>
 
 <hr>

 <h1 class="text-muted text-center text-capitalize"> you are the best, anuta</h1>
 
 <hr>

 <button class="btn btn-primary">  My Anuta </button>

    <button class="btn btn-primary">  
        <span class="text-uppercase"> My Anuta </span> 
        <h1>Love</h1>
    </button>

 <button class="btn btn-secondary"> Anuta </button>

 <button class="btn btn-success"> Anuta </button>

 <button class="btn btn-danger"> Love </button>
 
 <button class="btn btn-warning"> Peace </button>

 <button class="btn btn-info"> Life </button>

 <br>
 <br>

 <button class="btn btn-light"> Sun and Moon  </button>

 <button class="btn btn-dark"> Death  </button> 

 <button class="btn btn-link"> World  </button>

 <a href="#" class="btn btn-primary"> World  </a>
 {{!-- // для открытия страницы в новом окне // --}}

 <hr>

 <p class="text-primary"> My ocean </p>

 <p class="text-success"> My life </p>
{{!-- // аналогично как с кнопками только вместо btn btn указывается tex // --}}

 <hr>

 <button class="btn btn-outline-primary"> My car </button>

 <button class="btn btn-secondary"> Add </button>
 <button class="btn btn-outline-warning"> Change </button>
 <button class="btn btn-outline-success"> Save </button>
 <button class="btn btn-outline-danger"> Delete </button>

 <hr>

 <button class="btn btn-secondary btn-lg"> Add text </button>
 <button class="btn btn-outline-warning"> Change text </button>
 <button class="btn btn-outline-success btn-sm"> Save text </button>

 <hr>
 
 <div class="card">
        <div class="card-body">
            This is content
        </div>
 </div>

 <br>
 <br>

 <div class="card">
        <div class="card-body">
 <button class="btn btn-secondary btn-lg"> Add text </button>
 <button class="btn btn-outline-warning"> Change text </button>
 <button class="btn btn-outline-success btn-sm"> Save text </button>
        </div>
 </div>




</main> 