<div class="row pt-2">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
{{#each breadcrumb}}
{{#if @last}}
<li class="breadcrumb-item active" aria-current="page">{{name}}</li>
{{else}}
<li class="breadcrumb-item disabled"><a class="" href="{{url}}">{{name}}</a></li>
{{/if}}
{{/each}}
</ol>
</nav>
</div>
