{{#with goodsOtherBlock}}
<h3 class="fs-2 fw-medium text-center pb-3"> {{title}}</h3>
<div class="row">
{{#each cards}}
<div class="col-4">
<div class="card mb-4">
<div class="card-body">
<img src="{{image}}" class="card-img-top" alt="photo">
<div class="card-title fs-6 fw-semibold">{{title}} 
{{#if isHot}}
<span class="badge bg-warning">Hot</span>
{{/if}}
{{#if idNew}}
<span class="badge bg-warning">New</span>
{{/if}}
</div>
<p class="card-text mt-2">{{description}}</p>       
</div>
</div>
</div>
{{/each}}
{{/with}}
</div>